# ignore build files
/build/

# ignore editor files
.vscode/
.idea/

# ignore compiled binaries
*.exe
*.out
*.o

# ignore log files
*.log

# ignore temporary files
*.tmp

# ignore CMakeLists.txt (temporarily)
CMakeLists.txt